COMPOSE_PROJECT_NAME=test
VIRTUAL_HOST=test.example.com
VIRTUAL_PORT=8080
GEMSTASH_URL=https://gemstash.example.com
POSTGRES_USER=railsapp
POSTGRES_PASSWORD=password
IDE_USER=abc
SECRET_KEY_BASE=2c26ede25cbdc3fd049506AcAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA524fb170bf40d3d93591aee9e368ea45bbef5a52f
